In [1]:
import pandas as pd

In [23]:
df_hospital = pd.read_csv('d://song/project1_practice/data/제주도 병원 목록.csv')      
df_hospital.reset_index(inplace=True)
df_hospital.columns = ['id', 'name', 'type', 'sat', 'sun', 'holiday', 'addr',  'lat', 'lng', 'dong']
df_hospital.head(3)

,id,name,type,sat,sun,holiday,addr,lat,lng,dong
0,0,중문삼성연합의원,의원,1,0,0,제주특별자치도 서귀포시 중문로 7,33.252693,126.423028,중문동
1,1,조재익신경외과의원,의원,1,0,0,제주특별자치도 서귀포시 대정읍 하모중앙로 76,33.221390,126.251812,대정읍 하모리
2,2,제주현대안과의원,의원,0,1,0,제주특별자치도 제주시 건주로 31,33.516779,126.580983,도련일동
3,3,제주필의원,의원,1,0,1,제주특별자치도 제주시 일주동로 229,33.519443,126.569948,화북일동
4,4,제주연합재활의학과의원,의원,1,0,0,제주특별자치도 제주시 서광로 294,33.500204,126.527884,이도이동
...,...,...,...,...,...,...,...,...,...,...
492,492,바로내과의원,의원,1,0,0,제주특별자치도 서귀포시 월드컵로 8,33.248994,126.507323,강정동
493,493,이승희산부인과의원,의원,1,0,0,제주특별자치도 제주시 서광로 208-1,33.499628,126.518719,삼도일동
494,494,제주내과의원,의원,1,0,0,제주특별자치도 제주시 서광로 78-9,33.499522,126.505258,오라삼동
495,495,김동호이비인후과의원,의원,1,0,0,제주특별자치도 제주시 서광로 267,33.500235,126.524945,삼도일동
496,496,강주현피부과의원,의원,1,0,0,제주특별자치도 제주시 건주로 27,33.517088,126.581141,도련일동

In [24]:
df_hospital = df_hospital[['id', 'name',  'addr',  'lat', 'lng',  'dong', 'sat', 'sun', 'holiday', 'type']]
df_hospital.head(3)

,id,name,addr,lat,lng,dong,sat,sun,holiday,type
0,0,중문삼성연합의원,제주특별자치도 서귀포시 중문로 7,33.252693,126.423028,중문동,1,0,0,의원
1,1,조재익신경외과의원,제주특별자치도 서귀포시 대정읍 하모중앙로 76,33.221390,126.251812,대정읍 하모리,1,0,0,의원
2,2,제주현대안과의원,제주특별자치도 제주시 건주로 31,33.516779,126.580983,도련일동,0,1,0,의원
3,3,제주필의원,제주특별자치도 제주시 일주동로 229,33.519443,126.569948,화북일동,1,0,1,의원
4,4,제주연합재활의학과의원,제주특별자치도 제주시 서광로 294,33.500204,126.527884,이도이동,1,0,0,의원
...,...,...,...,...,...,...,...,...,...,...
492,492,바로내과의원,제주특별자치도 서귀포시 월드컵로 8,33.248994,126.507323,강정동,1,0,0,의원
493,493,이승희산부인과의원,제주특별자치도 제주시 서광로 208-1,33.499628,126.518719,삼도일동,1,0,0,의원
494,494,제주내과의원,제주특별자치도 제주시 서광로 78-9,33.499522,126.505258,오라삼동,1,0,0,의원
495,495,김동호이비인후과의원,제주특별자치도 제주시 서광로 267,33.500235,126.524945,삼도일동,1,0,0,의원
496,496,강주현피부과의원,제주특별자치도 제주시 건주로 27,33.517088,126.581141,도련일동,1,0,0,의원

In [25]:
df_hospital.to_csv('d://song/project1_practice/data/fianl_data/hospital.csv', index=False)

In [26]:
df_police = pd.read_excel('d://song/project1_practice/data/제주도 경찰서 목록.xlsx')      
df_police.reset_index(inplace=True)
df_police.head(1)

,index,경찰서 및 지구대,구분,주소,홈페이지,위도,경도,주소2
0,0,제주특별자치도경찰청,경찰서,제주시 수목원 서길 37,https://www.jjpolice.go.kr,33.468501,126.481679,노형동

In [85]:
df_police = pd.read_excel('d://song/project1_practice/data/제주도 경찰서 목록.xlsx')      
df_police.reset_index(inplace=True)
df_police.columns = ['id', 'name', 'type', 'addr', 'homepage', 'lat', 'lng', 'dong']
df_police.head(3)

,id,name,type,addr,homepage,lat,lng,dong
0,0,제주특별자치도경찰청,경찰서,제주시 수목원 서길 37,https://www.jjpolice.go.kr,33.468501,126.481679,노형동
1,1,서귀포경찰서,경찰서,서귀포시 신중로 27,https://www.jjpolice.go.kr/seogwipo,33.256153,126.509240,법환동
2,2,제주동부경찰서,경찰서,제주시 동광로 66,https://www.jjpolice.go.kr/dongbu,33.503535,126.535826,이도이동

In [86]:
df_police= df_police[['id', 'name',  'addr',  'lat', 'lng',  'dong', 'type', 'homepage']]
df_police.head(2)

,id,name,addr,lat,lng,dong,type,homepage
0,0,제주특별자치도경찰청,제주시 수목원 서길 37,33.468501,126.481679,노형동,경찰서,https://www.jjpolice.go.kr
1,1,서귀포경찰서,서귀포시 신중로 27,33.256153,126.509240,법환동,경찰서,https://www.jjpolice.go.kr/seogwipo

In [87]:
df_police.to_csv('d://song/project1_practice/data/fianl_data/police.csv', index=False)

In [32]:
df_parm = pd.read_csv('d://song/project1_practice/data/제주도 약국 목록.csv')      
df_parm.reset_index(inplace=True)
df_parm.columns = ['id', 'name',  'lat', 'lng', 'addr', 'dong']
df_parm

,id,name,lat,lng,addr,dong
0,0,새별약국,33.408671,126.264335,"제주특별자치도 제주시 한림읍 동명북1길 11, 1층 102호",한림읍 동명리
1,1,구름별약국,33.487931,126.502058,"제주특별자치도 제주시 연오로 59, 지1층 101호",오라삼동
2,2,알로하약국,33.520836,126.859273,제주특별자치도 제주시 구좌읍 세화12길 1,구좌읍 세화리
3,3,삼양약국,33.520884,126.584080,"제주특별자치도 제주시 일주동로 366, 1층",삼양이동
4,4,곰온누리약국,33.486418,126.414566,"제주특별자치도 제주시 애월읍 하귀9길 2, 1층 106호",애월읍 하귀1리
...,...,...,...,...,...,...
304,304,최고약국,33.253106,126.559360,제주특별자치도 서귀포시 일주동로 8696,서홍동
305,305,용머리약국,33.233815,126.310356,제주특별자치도 서귀포시 안덕면 사계남로216번길 29,안덕면 사계리
306,306,감귤약국,33.249022,126.566882,제주특별자치도 서귀포시 동문로 64,서귀동
307,307,모슬포약국,33.221000,126.250818,"제주특별자치도 서귀포시 대정읍 신영로 75, 1층",대정읍 하모리
308,308,금강한약국,33.256479,126.505300,제주특별자치도 서귀포시 신서로 69,강정동

In [34]:
df_parm = df_parm[['id', 'name',  'addr',  'lat', 'lng',  'dong']]
df_parm.head(1)

   id  name                               addr        lat         lng     dong
0   0  새별약국  제주특별자치도 제주시 한림읍 동명북1길 11, 1층 102호  33.408671  126.264335  한림읍 동명리

In [35]:
df_parm.to_csv('d://song/project1_practice/data/fianl_data/parm.csv', index=False)

In [36]:
df_bank = pd.read_csv('d://song/project1_practice/data/제주도 은행 목록.csv')      
df_bank.reset_index(inplace=True)
df_bank

,index,은행명,주소,위도,경도,주소2
0,0,KB국민은행 제주종합금융센터,"제주특별자치도 제주시 남광북1길 1 제주법조타워 1,2층",33.494593,126.534321,이도이동
1,1,KB국민은행 연북로지점,제주특별자치도 제주시 연북로 50,33.481592,126.486661,노형동
2,2,하나은행 제주금융센터,제주특별자치도 제주시 중앙로 58,33.512922,126.524205,일도일동
3,3,신한은행 제주지점,제주특별자치도 제주시 중앙로 166,33.504033,126.526443,이도일동
4,4,하나은행 신제주지점,제주특별자치도 제주시 1100로 3308 1층,33.481632,126.481719,노형동
...,...,...,...,...,...,...
157,157,태흥새마을금고 제1분사무소,제주특별자치도 서귀포시 남원읍 태위로 810,33.282822,126.732440,남원읍 태흥리
158,158,스마트저축은행 제주여신전문출장소,제주특별자치도 제주시 중앙로 386 2층,33.487872,126.539872,이도이동
159,159,삼호저축은행 제주지점,제주특별자치도 제주시 중앙로 535,33.475712,126.545205,아라일동
160,160,한국투자저축은행 제주여신전문출장소,제주특별자치도 제주시 노형로 407 노형타워 4층,33.485821,126.478301,노형동
161,161,제이티친애저축은행 채권관리 제주센터,제주특별자치도 제주시 청사로 11 주연빌딩 3층,33.490092,126.520159,도남동

In [41]:
df_bank.columns = ['id', 'name',  'addr','lat', 'lng',  'dong']
df_bank.head(2)

,id,name,addr,lat,lng,dong
0,0,KB국민은행 제주종합금융센터,"제주특별자치도 제주시 남광북1길 1 제주법조타워 1,2층",33.494593,126.534321,이도이동
1,1,KB국민은행 연북로지점,제주특별자치도 제주시 연북로 50,33.481592,126.486661,노형동

In [42]:
df_bank.to_csv('d://song/project1_practice/data/fianl_data/bank.csv', index=False)

In [22]:
df_gift = pd.read_csv('d://song/project1_practice/data/제주도 기념품샵 목록.csv')      

df_gift.head()

,이름,주소,별점,리뷰,홈페이지,위도,경도,주소2
0,바이제주,제주특별자치도 제주시 서해안로 626,5.0,매장도 깨끗하고 상품도 다양하네요. 열쇠고리나 일반 책갈피도 기본 만원 이상이라서 ...,blog.naver.com/byjeju365,33.516543,126.504111,용담삼동
1,바이제주,제주특별자치도 제주시 서해안로 626,1.0,핸드메이드 제품은 많음근데 과자 여기서 사지말고 시장가서 사시길저도 알고싶지않았음^^,blog.naver.com/byjeju365,33.516543,126.504111,용담삼동
2,바이제주,제주특별자치도 제주시 서해안로 626,4.0,재밌고 흥미로운 아이템 많던곳,blog.naver.com/byjeju365,33.516543,126.504111,용담삼동
3,바이제주,제주특별자치도 제주시 서해안로 626,5.0,NaN,blog.naver.com/byjeju365,33.516543,126.504111,용담삼동
4,바이제주,제주특별자치도 제주시 서해안로 626,4.0,종류가 많음.,blog.naver.com/byjeju365,33.516543,126.504111,용담삼동

In [23]:
df_gift.drop_duplicates('이름', inplace= True)
df_gift.reset_index(drop = True, inplace=True)
df_gift.reset_index(inplace=True)
df_gift.head(2)

,index,이름,주소,별점,리뷰,홈페이지,위도,경도,주소2
0,0,바이제주,제주특별자치도 제주시 서해안로 626,5.0,매장도 깨끗하고 상품도 다양하네요. 열쇠고리나 일반 책갈피도 기본 만원 이상이라서 ...,blog.naver.com/byjeju365,33.516543,126.504111,용담삼동
1,1,제주소품샵 모이소,제주특별자치도 제주시 신광로8길 14,5.0,웬만한 제주도 기념품 다 모여있어요^^,jejumoiso.modoo.at,33.487097,126.488525,연동

In [24]:
df_gift.columns = ['id', 'name',  'addr', 'review_rating','review','homepage' ,'lat', 'lng',  'dong']
df_gift.head(2)

,id,name,addr,review_rating,review,homepage,lat,lng,dong
0,0,바이제주,제주특별자치도 제주시 서해안로 626,5.0,매장도 깨끗하고 상품도 다양하네요. 열쇠고리나 일반 책갈피도 기본 만원 이상이라서 ...,blog.naver.com/byjeju365,33.516543,126.504111,용담삼동
1,1,제주소품샵 모이소,제주특별자치도 제주시 신광로8길 14,5.0,웬만한 제주도 기념품 다 모여있어요^^,jejumoiso.modoo.at,33.487097,126.488525,연동

In [25]:
df_gift = df_gift[['id', 'name',  'addr','lat', 'lng',  'dong',  'review_rating','review','homepage']]
df_gift.head(2)

,id,name,addr,lat,lng,dong,review_rating,review,homepage
0,0,바이제주,제주특별자치도 제주시 서해안로 626,33.516543,126.504111,용담삼동,5.0,매장도 깨끗하고 상품도 다양하네요. 열쇠고리나 일반 책갈피도 기본 만원 이상이라서 ...,blog.naver.com/byjeju365
1,1,제주소품샵 모이소,제주특별자치도 제주시 신광로8길 14,33.487097,126.488525,연동,5.0,웬만한 제주도 기념품 다 모여있어요^^,jejumoiso.modoo.at

In [28]:
print(len(df_gift))
df_gift['id'].nunique()

395

395

In [17]:
df_gift.to_csv('d://song/project1_practice/data/fianl_data/gift.csv', index = False)

In [76]:
df_mart = pd.read_excel('d://song/project1_practice/data/제주도 마트 목록.xlsx')      
df_mart.head()

         마트명                        주소         위도          경도   주소2
0   이마트 서귀포점   제주특별자치도 서귀포시 일주동로 9209   33.248338  126.509117   법환동
1   이마트 신제주점   제주특별자치도 제주시 1100로 3348   33.484965  126.480432   노형동
2   롯데마트 제주점        제주특별자치도 제주시 연북로 1   33.482442  126.481834   노형동
3    이마트 제주점       제주특별자치도 제주시 탑동로 38   33.517975  126.521177  삼도이동
4  홈플러스 서귀포점     제주특별자치도 서귀포시 중앙로 180   33.260486  126.559935   동홍동

In [78]:
df_mart.reset_index(inplace=True)
df_mart.columns = ['id', 'name',  'addr','lat', 'lng',  'dong']
df_mart.head(2)

   id      name                      addr        lat         lng dong
0   0  이마트 서귀포점   제주특별자치도 서귀포시 일주동로 9209   33.248338  126.509117  법환동
1   1  이마트 신제주점   제주특별자치도 제주시 1100로 3348   33.484965  126.480432  노형동

In [79]:
df_mart.to_csv('d://song/project1_practice/data/fianl_data/mart.csv', index = False)

In [8]:
df_tour = pd.read_csv('d://song/project1_practice/data/제주_관광지_최종.csv')      
df_tour.head()

,이름,주소,주소2,위도,경도,구분
0,브랭섬홀아시아아이스링크,제주특별자치도 서귀포시 대정읍 글로벌에듀로 234(3번게이트),대정읍 구억리,33.289972,126.287265,41
1,(주)제주해양레저투명카약,제주특별자치도 제주시 애월읍 애월로1길 22,애월읍 애월리,33.462329,126.310472,42
2,1100고지(휴게소),제주특별자치도 서귀포시 1100로 1555,색달동,33.357849,126.462424,21
3,1100고지(휴게소),제주특별자치도 서귀포시 1100로 1555,색달동,33.357849,126.462424,52
4,1100고지습지,제주특별자치도 서귀포시 색달동 산 1-2,색달동,33.357525,126.462897,21

In [9]:
df_tour.reset_index(inplace=True)
df_tour.columns = ['id', 'name',  'addr' ,  'dong' ,'lat', 'lng' , 'detailtype']
df_tour.head(2)

,id,name,addr,dong,lat,lng,detailtype
0,0,브랭섬홀아시아아이스링크,제주특별자치도 서귀포시 대정읍 글로벌에듀로 234(3번게이트),대정읍 구억리,33.289972,126.287265,41
1,1,(주)제주해양레저투명카약,제주특별자치도 제주시 애월읍 애월로1길 22,애월읍 애월리,33.462329,126.310472,42

In [10]:
df_tour = df_tour[['id', 'name',  'addr','lat', 'lng',  'dong', 'detailtype']]
df_tour.head(2)

,id,name,addr,lat,lng,dong,detailtype
0,0,브랭섬홀아시아아이스링크,제주특별자치도 서귀포시 대정읍 글로벌에듀로 234(3번게이트),33.289972,126.287265,대정읍 구억리,41
1,1,(주)제주해양레저투명카약,제주특별자치도 제주시 애월읍 애월로1길 22,33.462329,126.310472,애월읍 애월리,42

In [11]:
df_tour.to_csv('d://song/project1_practice/data/fianl_data/tour.csv', index = False)

In [12]:
str(df_tour)

'        id           name                                  addr        lat  \\\n0        0   브랭섬홀아시아아이스링크    제주특별자치도 서귀포시 대정읍 글로벌에듀로 234(3번게이트)  33.289972   \n1        1  (주)제주해양레저투명카약              제주특별자치도 제주시 애월읍 애월로1길 22  33.462329   \n2        2    1100고지(휴게소)               제주특별자치도 서귀포시 1100로 1555  33.357849   \n3        3    1100고지(휴게소)               제주특별자치도 서귀포시 1100로 1555  33.357849   \n4        4       1100고지습지                제주특별자치도 서귀포시 색달동 산 1-2  33.357525   \n...    ...            ...                                   ...        ...   \n2085  2085          호루의한끼             제주특별자치도 서귀포시 516로277번길 29  33.278708   \n2086  2086      화순금모래해수욕장             제주특별자치도 서귀포시 안덕면 화순해안로 91  33.239847   \n2087  2087          황금빅버거             제주특별자치도 서귀포시 남원읍 516로 918  33.325724   \n2088  2088    휘닉스 아일랜드 제주            제주특별자치도 서귀포시 성산읍 섭지코지로 107  33.426042   \n2089  2089     휴애리 자연생활공원  제주특별자치도 서귀포시 남원읍 신례동로 256 (신례리, 휴애리)  33.308535   \n\n             lng     dong  detailtype  \n0     126.287265  대정읍 구억리          41  \n1     126.310472  애월읍 애월리          42  \n2     126.462424      색달동          21  \n3     126.462424      색달동          52  \n4     126.462897      색달동          21  \n...          ...      ...         ...  \n2085  126.583110      토평동          60  \n2086  126.335787  안덕면 화순리          60  \n2087  126.601047  남원읍 하례리          60  \n2088  126.926443  성산읍 고성리          60  \n2089  126.634381  남원읍 신례리          60  \n\n[2090 rows x 7 columns]'