# Stage 12	브루트 포스

### q1	2798	블랙잭

In [84]:
N, M = map(int, input().split())

cards = list(map(int, input().split()))

result = []
for i in range(len(cards)):
    a = cards[i]
    for j in range(i+1,len(cards)):
        b = cards[j]
        for k in range(j+1, len(cards)):
            c = cards[k]
            n = a + b + c
            if n <= M:
                result.append(n)
                
print(max(result))

 10 500
 93 181 245 214 315 36 185 138 216 295

497

### q2	2231	분해합

In [73]:
N = int(input())

result = []
for i in range(0, N + 1):
    sum_numbers = sum(map(int, str(i)))
    P = sum_numbers + i
    if P == N:
        result.append(i)

if len(result) > 0 :
    print(min(result))
else :
    print(0)

 54

45

### q3	19532	수학은 비대면강의입니다

In [75]:
a, b, c, d, e, f = map(int, input().split())

for x in range(-999, 1000):
    for y in range(-999, 1000):
        if (a * x) + (b * y) == c:
            if (d * x) + (e * y) == f:
                print(x, y)

 1 3 -1 4 1 7

### q4	1018	체스판 다시 칠하기

In [106]:
N, M = map(int, input().split())
check = 0
for i in range(N): 
    line1 = list(map(str, input()))
    if line1[0] == "W":
        for j in range(M):
            if j % 2 == 0:
                if line1[j] == "B":
                    check += 1
            else :
                if line1[j] == "W":
                    check += 1
    else :
        for j in range(M):
            if j % 2 == 0:
                if line1[j] == "W":
                    check += 1
            else :
                if line1[j] == "B":
                    check += 1
print(check)

 9 23
 BBBBBBBBBBBBBBBBBBBBBBB
 BBBBBBBBBBBBBBBBBBBBBBB
 BBBBBBBBBBBBBBBBBBBBBBB
 BBBBBBBBBBBBBBBBBBBBBBB
 BBBBBBBBBBBBBBBBBBBBBBB
 BBBBBBBBBBBBBBBBBBBBBBB
 BBBBBBBBBBBBBBBBBBBBBBB
 BBBBBBBBBBBBBBBBBBBBBBB
 BBBBBBBBBBBBBBBBBBBBBBW

100

In [104]:
check = 0
for i in range(N): 
    line1 = list(map(str, input()))
    if line1[0] == "W":
        for j in range(M):
            if j % 2 == 0:
                if line1[j] == "B":
                    check += 1
            else :
                if line1[j] == "W":
                    check += 1
    else :
        for j in range(M):
            if j % 2 == 0:
                if line1[j] == "W":
                    check += 1
            else :
                if line1[j] == "B":
                    check += 1
print(check)

 BBBBBBBBWBWBW

9

### q5	1436	영화감독 숌

In [121]:
# runtime error
# 666이 연속으로 들어가야함

N = int(input())

six = []
cnt = 0

for i in range(10000):
    numbers = list(map(int, str(i)))
    if numbers.count(6) == 3:
        cnt += 1
        if cnt == N:
            print(i)

 2

1666

In [ ]:
# 재도전

N = int(input())

six = '666'
cnt = 0

while cnt == N: