In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import pyreadstat

In [4]:
raw = pd.read_csv('D:/song/python_practice/data/welfare/welfare.csv',
                  index_col = 0)
raw.head()

,h17_id,pid,inhouse_num,relation,sex,birth,edu,edu_detail,disable_type,disable_degree,...,live_together,industry,job,inc_regular,inc_temp,inc_owner,sex_factor,marriage2,religion_factor,inc
0,2.0,201.0,1.0,10.0,2.0,1945.0,4.0,5.0,0.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,female,2.0,yes,NaN
1,3.0,301.0,1.0,10.0,1.0,1948.0,3.0,5.0,0.0,0.0,...,1.0,75.0,942.0,NaN,2064.0,NaN,male,2.0,no,2064.0
2,4.0,401.0,1.0,10.0,1.0,1942.0,7.0,3.0,0.0,0.0,...,1.0,42.0,762.0,NaN,1200.0,NaN,male,2.0,yes,1200.0
3,6.0,601.0,1.0,10.0,1.0,1962.0,6.0,5.0,0.0,0.0,...,1.0,47.0,855.0,3216.0,NaN,NaN,male,1.0,yes,3216.0
4,8.0,801.0,1.0,10.0,2.0,1940.0,3.0,3.0,1.0,2.0,...,1.0,84.0,941.0,NaN,324.0,NaN,female,2.0,yes,324.0

In [6]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16256 entries, 0 to 16255
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   h17_id           16256 non-null  float64
 1   pid              16256 non-null  float64
 2   inhouse_num      16256 non-null  float64
 3   relation         16256 non-null  float64
 4   sex              16256 non-null  float64
 5   birth            16256 non-null  float64
 6   edu              16256 non-null  float64
 7   edu_detail       16256 non-null  float64
 8   disable_type     16256 non-null  float64
 9   disable_degree   16256 non-null  float64
 10  marriage         16256 non-null  float64
 11  religion         16256 non-null  int64
 12  live_together    16256 non-null  float64
 13  industry         8372 non-null   float64
 14  job              8372 non-null   float64
 15  inc_regular      2928 non-null   float64
 16  inc_temp         4175 non-null   float64
 17  inc_owner        1144 non-null   float64
 18  sex_factor       16256 non-null  object
 19  marriage2        14481 non-null  float64
 20  religion_factor  16256 non-null  object
 21  inc              7998 non-null   float64
dtypes: float64(19), int64(1), object(2)
memory usage: 2.9+ MB