# Train 7 - 인구이동 데이터 전처리
### 데이터 
- 통계청(kosis) - 인구이동(시군구)
- 년간 데이터 이동

In [8]:
import pandas as pd
import numpy as np

### step1 - 기초

In [9]:
migration = pd.read_csv('d:/song/python_practice/train/migration.csv')
df_mig = migration.copy()
df_mig.head(10)

,행정구역(시군구)별,이동규모별,2016,2016.1,2016.2,2017,2017.1,2017.2,2018,2018.1,...,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
0,행정구역(시군구)별,이동규모별,총전입 (건),총전출 (건),순이동 (건),총전입 (건),총전출 (건),순이동 (건),총전입 (건),총전출 (건),...,순이동 (건),총전입 (건),총전출 (건),순이동 (건),총전입 (건),총전출 (건),순이동 (건),총전입 (건),총전출 (건),순이동 (건)
1,전국,계,4636367,4636367,0,4569922,4569922,0,4728313,4728313,...,0,5183403,5183403,0,5004115,5004115,0,4412470,4412470,0
2,서울특별시,계,958536,1008507,-49971,948896,977222,-28326,965717,988935,...,3868,1076183,1082959,-6776,999614,1037104,-37490,888184,879362,8822
3,종로구,계,16221,17533,-1312,18110,17040,1070,16313,17164,...,-571,17451,17955,-504,16537,17600,-1063,14821,15135,-314
4,중구,계,14058,14197,-139,14065,13574,491,14691,14190,...,1033,15545,15304,241,15372,15295,77,13435,13163,272
5,용산구,계,22836,24317,-1481,23915,23356,559,25327,24660,...,580,27905,26364,1541,26270,26950,-680,23022,22488,534
6,성동구,계,29942,28790,1152,32208,28883,3325,33711,30946,...,-2918,31415,34272,-2857,28581,31166,-2585,25726,26742,-1016
7,광진구,계,37175,38582,-1407,37890,36866,1024,38519,38647,...,-343,41336,41642,-306,39267,40380,-1113,35413,34803,610
8,동대문구,계,33532,36200,-2668,32813,34810,-1997,37179,38040,...,-65,39979,40110,-131,37574,37504,70,34220,32682,1538
9,중랑구,계,37597,39358,-1761,36009,37527,-1518,35991,37773,...,-2591,40544,40852,-308,36955,39194,-2239,33556,32482,1074

In [10]:
df_mig.columns = ['name', 'etc', 
                  'in_2016', 'out_2016', 'migration_2016',
                  'in_2017', 'out_2017', 'migration_2017',
                  'in_2018', 'out_2018', 'migration_2018',
                  'in_2019', 'out_2019', 'migration_2019',
                  'in_2020', 'out_2020', 'migration_2020',
                  'in_2021', 'out_2021', 'migration_2021',
                  'in_2022', 'out_2022', 'migration_2022']
                  
df_mig

,name,etc,in_2016,out_2016,migration_2016,in_2017,out_2017,migration_2017,in_2018,out_2018,...,migration_2019,in_2020,out_2020,migration_2020,in_2021,out_2021,migration_2021,in_2022,out_2022,migration_2022
0,행정구역(시군구)별,이동규모별,총전입 (건),총전출 (건),순이동 (건),총전입 (건),총전출 (건),순이동 (건),총전입 (건),총전출 (건),...,순이동 (건),총전입 (건),총전출 (건),순이동 (건),총전입 (건),총전출 (건),순이동 (건),총전입 (건),총전출 (건),순이동 (건)
1,전국,계,4636367,4636367,0,4569922,4569922,0,4728313,4728313,...,0,5183403,5183403,0,5004115,5004115,0,4412470,4412470,0
2,서울특별시,계,958536,1008507,-49971,948896,977222,-28326,965717,988935,...,3868,1076183,1082959,-6776,999614,1037104,-37490,888184,879362,8822
3,종로구,계,16221,17533,-1312,18110,17040,1070,16313,17164,...,-571,17451,17955,-504,16537,17600,-1063,14821,15135,-314
4,중구,계,14058,14197,-139,14065,13574,491,14691,14190,...,1033,15545,15304,241,15372,15295,77,13435,13163,272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,제주특별자치도,계,68545,58790,9755,69621,60342,9279,69953,64327,...,1567,69060,67721,1339,66976,65388,1588,62569,61002,1567
266,제주시,계,49469,43508,5961,47883,43291,4592,50278,46561,...,1621,50014,48743,1271,47431,46882,549,44312,43680,632
267,서귀포시,계,19076,15282,3794,21738,17051,4687,19675,17766,...,-54,19046,18978,68,19545,18506,1039,18257,17322,935
268,북제주군,계,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269,남제주군,계,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df_mig.drop(index = [0,1], inplace = True)
df_mig.drop(columns = 'etc', inplace = True)
df_mig.head(10)

,name,in_2016,out_2016,migration_2016,in_2017,out_2017,migration_2017,in_2018,out_2018,migration_2018,...,migration_2019,in_2020,out_2020,migration_2020,in_2021,out_2021,migration_2021,in_2022,out_2022,migration_2022
2,서울특별시,958536,1008507,-49971,948896,977222,-28326,965717,988935,-23218,...,3868,1076183,1082959,-6776,999614,1037104,-37490,888184,879362,8822
3,종로구,16221,17533,-1312,18110,17040,1070,16313,17164,-851,...,-571,17451,17955,-504,16537,17600,-1063,14821,15135,-314
4,중구,14058,14197,-139,14065,13574,491,14691,14190,501,...,1033,15545,15304,241,15372,15295,77,13435,13163,272
5,용산구,22836,24317,-1481,23915,23356,559,25327,24660,667,...,580,27905,26364,1541,26270,26950,-680,23022,22488,534
6,성동구,29942,28790,1152,32208,28883,3325,33711,30946,2765,...,-2918,31415,34272,-2857,28581,31166,-2585,25726,26742,-1016
7,광진구,37175,38582,-1407,37890,36866,1024,38519,38647,-128,...,-343,41336,41642,-306,39267,40380,-1113,35413,34803,610
8,동대문구,33532,36200,-2668,32813,34810,-1997,37179,38040,-861,...,-65,39979,40110,-131,37574,37504,70,34220,32682,1538
9,중랑구,37597,39358,-1761,36009,37527,-1518,35991,37773,-1782,...,-2591,40544,40852,-308,36955,39194,-2239,33556,32482,1074
10,성북구,37314,42729,-5415,37404,41669,-4265,36983,40954,-3971,...,3313,42730,44857,-2127,40238,42286,-2048,37181,35902,1279
11,강북구,27936,30133,-2197,27155,28514,-1359,27640,29852,-2212,...,-2335,29331,31752,-2421,26697,29983,-3286,23649,25133,-1484

### step2 - 시군구 지역 명칭 정리
- 중구, 남구 등 중복된 명칭이 존재, 이를 해결하기 위해서 
- 시도 + 시군구를 통해서 city2 변수 생성

In [12]:
test = df_mig.apply(lambda x: x['name'] if '특별' in x['name'] 
                    else x['name']  if '북도' in x['name'] 
                    else x['name']  if '남도' in x['name'] 
                    else x['name']  if '광역' in x['name']    
                    else x['name']  if '경기도' in x['name'] 
                    else np.nan, axis = 1)
test.unique()

array(['서울특별시', nan, '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '제주특별자치도'], dtype=object)

In [13]:
df_mig['sido'] = df_mig.apply(lambda x: x['name'] if '특별' in x['name'] 
                              else x['name']  if '북도' in x['name'] 
                              else x['name']  if '남도' in x['name'] 
                              else x['name']  if '광역' in x['name']    
                              else x['name']  if '경기도' in x['name'] 
                              else np.nan, axis = 1)
df_mig['sido'].ffill(inplace = True)
df_mig

,name,in_2016,out_2016,migration_2016,in_2017,out_2017,migration_2017,in_2018,out_2018,migration_2018,...,in_2020,out_2020,migration_2020,in_2021,out_2021,migration_2021,in_2022,out_2022,migration_2022,sido
2,서울특별시,958536,1008507,-49971,948896,977222,-28326,965717,988935,-23218,...,1076183,1082959,-6776,999614,1037104,-37490,888184,879362,8822,서울특별시
3,종로구,16221,17533,-1312,18110,17040,1070,16313,17164,-851,...,17451,17955,-504,16537,17600,-1063,14821,15135,-314,서울특별시
4,중구,14058,14197,-139,14065,13574,491,14691,14190,501,...,15545,15304,241,15372,15295,77,13435,13163,272,서울특별시
5,용산구,22836,24317,-1481,23915,23356,559,25327,24660,667,...,27905,26364,1541,26270,26950,-680,23022,22488,534,서울특별시
6,성동구,29942,28790,1152,32208,28883,3325,33711,30946,2765,...,31415,34272,-2857,28581,31166,-2585,25726,26742,-1016,서울특별시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,제주특별자치도,68545,58790,9755,69621,60342,9279,69953,64327,5626,...,69060,67721,1339,66976,65388,1588,62569,61002,1567,제주특별자치도
266,제주시,49469,43508,5961,47883,43291,4592,50278,46561,3717,...,50014,48743,1271,47431,46882,549,44312,43680,632,제주특별자치도
267,서귀포시,19076,15282,3794,21738,17051,4687,19675,17766,1909,...,19046,18978,68,19545,18506,1039,18257,17322,935,제주특별자치도
268,북제주군,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,제주특별자치도
269,남제주군,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,제주특별자치도

In [14]:
# sido 와 name이 같은 경우 시도 전체의 데이터
df_mig['city2'] = df_mig.apply(lambda x: x['sido'] +' '+  x['name'] if x['sido'] != x['name'] else np.nan, axis = 1)
df_mig = df_mig[df_mig['city2'].isna() == False]
df_mig

,name,in_2016,out_2016,migration_2016,in_2017,out_2017,migration_2017,in_2018,out_2018,migration_2018,...,out_2020,migration_2020,in_2021,out_2021,migration_2021,in_2022,out_2022,migration_2022,sido,city2
3,종로구,16221,17533,-1312,18110,17040,1070,16313,17164,-851,...,17955,-504,16537,17600,-1063,14821,15135,-314,서울특별시,서울특별시 종로구
4,중구,14058,14197,-139,14065,13574,491,14691,14190,501,...,15304,241,15372,15295,77,13435,13163,272,서울특별시,서울특별시 중구
5,용산구,22836,24317,-1481,23915,23356,559,25327,24660,667,...,26364,1541,26270,26950,-680,23022,22488,534,서울특별시,서울특별시 용산구
6,성동구,29942,28790,1152,32208,28883,3325,33711,30946,2765,...,34272,-2857,28581,31166,-2585,25726,26742,-1016,서울특별시,서울특별시 성동구
7,광진구,37175,38582,-1407,37890,36866,1024,38519,38647,-128,...,41642,-306,39267,40380,-1113,35413,34803,610,서울특별시,서울특별시 광진구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,합천군,3246,3832,-586,3026,3463,-437,2872,3305,-433,...,3501,-581,2957,3184,-227,2730,2732,-2,경상남도,경상남도 합천군
266,제주시,49469,43508,5961,47883,43291,4592,50278,46561,3717,...,48743,1271,47431,46882,549,44312,43680,632,제주특별자치도,제주특별자치도 제주시
267,서귀포시,19076,15282,3794,21738,17051,4687,19675,17766,1909,...,18978,68,19545,18506,1039,18257,17322,935,제주특별자치도,제주특별자치도 서귀포시
268,북제주군,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,제주특별자치도,제주특별자치도 북제주군
269,남제주군,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,제주특별자치도,제주특별자치도 남제주군

In [8]:
df_mig.to_csv('d:/song/python_practice/train/mig_adj.csv')