In [1]:
# 1	10807	개수 세기

a = int(input())
b = map(int, input().split())
c = int(input())
d = 0
for i in b:
    if i == c:
        d += 1
print(d)

 11
 1 4 1 2 4 2 4 2 3 4 4
 2

3

In [3]:
# 1-1	10807	개수 세기
a = int(input())
b = list(map(int, input().split()))
c = int(input())

print(b.count(c))

 11
 1 4 1 2 4 2 4 2 3 4 4
 2

3

In [14]:
# 2	10871	X보다 작은 수
N, X = map(int, (input().split()))
A = map(int, input().split())

for i in A:
    if int(i) < X:
        print(i, end = " ")

 10 5
 1 10 4 9 2 3 8 5 7 6

1 4 2 3

In [18]:
# 2-1	10871	X보다 작은 수
N, X = map(int, (input().split()))
A = list(map(int, input().split()))

for i in range(N):
    if A[i] < X:
        print(A[i], end = " ")

 10 5
 1 10 4 9 2 3 8 5 7 6

1 4 2 3

In [19]:
# 3	10818	최소, 최대
a = int(input())
b = list(map(int, input().split()))

print(min(b), max(b))

 5
 20 10 35 30 7

7 35

In [34]:
# 4	2562	최댓값

lst = []


while True:
    try: 
        a = int(input())    
        lst.append(a)
    except:
        break

print(max(lst))
for i in range(len(lst)):
    if lst[i] == max(lst):
        print(i+1)

 3
 29

29

In [40]:
# 4	2562	최댓값
lst = []


while True:
    try: 
        a = int(input())    
        lst.append(a)
    except:
        break

print(max(lst))
print(lst.index(max(lst)) + 1)

 2
 39

39
2

In [76]:
# 5	10810	공 넣기

N, M = map(int, input().split())

lst = [0] * N

for _ in range(M):
    i, j, k = map(int, input().split())
    for b in range(i, j+1):
        lst[b-1] = k

for i in range(N):
    print(lst[i], end = ' ')

 5 4
 1 2 3
 3 4 4
 1 4 1
 2 2 2

4 6 5 5 0

In [43]:
# 6	10813	공 바꾸기

N, M = map(int, input().split())

basket = []
for i in range(N):
    basket.append(i + 1)

for j in range(M):
    a, b = map(int, input().split())
    for i in range(((b-a + 1)//2) + 1):
        basket[a - 1 - i], basket[b - 1 - i] = basket[b - 1 - i], basket[a - 1 - i]  
    
print(*basket)

 4

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
# 7	5597	과제 안 내신 분..?

student = []

while True:
    try:
        a = int(input())
        student.append(a)
    except:
        break

for i in range(30):
    if student.count(i+1) == 0:
        print(i+1)

In [45]:
# 8	3052	나머지

numbers = []

for i in range(10):
    a = int(input())
    numbers.append(a % 42)

print(len(set(numbers)))

 5
 5
 5
 5
 5
 5
 5
 5
 5
 5

1

In [51]:
# 9	10811	바구니 뒤집기

N, M = map(int, input().split())

basket = []
for i in range(N):
    basket.append(i+1)

times = 0

while times < M:
    a, b = map(int, input().split())
    times += 1
    temp = basket[a -1 :b]
    temp.reverse()
    basket[a-1: b] = temp
    
    
print(*basket)

 5 1
 1 4

4 3 2 1 5
[4, 3, 2, 1]

In [7]:
# 10	1546	평균

N = int(input())
subject = list(map(int, input().split()))
max_values = max(subject)
result = []

for i in range(len(subject)):
    result.append(subject[i] / max_values * 100)
print(sum(result) / len(result))

 3
 40 80 60

75.0

In [63]:

type(subject)

list

In [66]:
max = max(subject)
max

TypeError: 'int' object is not callable