In [2]:
# 1	2745	진법 변환
numbers = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'

data, jin = input().split()
total = 0

for i in range(len(data)):
    total += numbers.index(data[i]) * (int(jin) ** (len(data) - i - 1))

print(total)

 ZZZZZ 36

60466175

In [30]:
# 2	11005	진법 변환 2
# 60466175 36
numbers = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
data11005, jin = map(int, input().split())

digit = 0
div = data11005
result = []


while div > 0:
    sub = div % jin
    div = div // jin    
    result.append(str(numbers[sub]))
    digit += 1     

print("".join(result[::-1]))

 7 3

21

In [36]:
# 2	11005	진법 변환 2

numbers = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
result = ''

data11005, jin = map(int, input().split())
while data11005 != 0:
    result += str(numbers[data11005%jin])
    data11005 = data11005 // jin

print(result[::-1])

 7 3

21

In [75]:
#### 3	2720	세탁소 사장 동혁
# 124
# 25
# 194


T = int(input())
coins = [25, 10, 5, 1]

for i in range(T):
    change = int(input())
    for j in range(len((coins))):
        return_coin = change // coins[j]
        change = change % coins[j]
        print(return_coin, end = " ")

 3
 124

4 2 0 4

 25

1 0 0 0

 194

7 1 1 4

In [74]:
#### 3	2720	세탁소 사장 동혁 - refactoring

T = int(input())
coins = [25, 10, 5, 1]

for i in range(T):
    change = int(input())
    for j in range(len((coins))):
        print(change // coins[j], end = " ")
        change = change % coins[j]

 3
 124

4 2 0 4

 25

1 0 0 0

 194

7 1 1 4

In [111]:
# 4	2903	중앙 이동 알고리즘

N = int(input())
square = 2

for i in range(N):
    square = (square * 2) - 1
print(square ** 2)

 5

1089

In [113]:
# 4	2903	중앙 이동 알고리즘 - re
print((2 ** int(input()) + 1) ** 2)

 5

1089

### q5	2292	벌집

In [160]:
N = int(input())

hexagon = 1
distance = 1

while True:
    if N > hexagon:
        hexagon += distance * 6        
        distance += 1
        
    else :
        print(distance)
        break

 91

6

In [162]:
# 5 - refactoring
N = int(input())

hexagon = 1
distance = 1

while N > hexagon:
    hexagon += distance * 6        
    distance += 1

print(distance)

 1

1

### q6	1193	분수찾기

In [43]:
N = int(input())

groups = 1

while N > groups:
    N -= groups 
    groups += 1

if groups % 2 == 0:
    print(f'{N}/{groups - N + 1}')
else :
    print(f'{groups - N + 1}/{N}')

 8

2/3

### q7	2869	달팽이는 올라가고 싶다

In [83]:
# time error -> for 문을 안쓰고 해야하나?
day, night, height = map(int, input().split())

move = 0
cnt = 0

while move < height:
    move += day
    cnt += 1
    if move < height:
        move -= night

print(cnt)

 100 99 1000000000

999999901

In [2]:
# for 문 안쓰고

day, night, height = map(int, input().split())

if height % (day + night) != 0:
    print(height % (day + night) + 1)
else :
    print(height % (day + night))

 2 1 5

3