In [3]:
import pandas as pd
import numpy as np

# geo info를 획득하기 위해 데이터 준비

- 원래 계획은 행안부 api로 주소를 획득하고, 카카오 api로 좌표를 얻고자 함
- 하지만 행안부 api 검색시 주소 검색 오류 발생
----------------------------
- 국토교통부 레일포털에 기차역 정보에 관한 api 확인
- 이를 통해서 기차역 정보 획득하고자 함

In [36]:
train = pd.read_csv('./train.csv')
df = train.copy()
df.head(2)

,station,down_on_2016,down_off_2016,down_total_2016,down_kilo_2016,up_on_2016,up_off_2016,up_total_2016,up_kilo_2016,total_2016,...,on_ktx_2022,on_saemaul_2022,on_mugungwha_2022,on_commute_2022,on_total_2022,off_ktx_2022,off_saemaul_2022,off_mugungwha_2022,off_commute_2022,off_total_2022
0,각계,0.0,0.0,0.0,0.0,475.0,6.0,481.0,640.0,481.0,...,0.0,0.0,372.0,0.0,372.0,0.0,0.0,16.0,0.0,16.0
1,강경,29781.0,114890.0,144671.0,15222925.0,114280.0,33367.0,147647.0,6863592.0,292318.0,...,0.0,13357.0,91522.0,0.0,104879.0,0.0,18820.0,86335.0,0.0,105155.0

In [44]:
# 주소를 확인하고, 좌표를 획득하기 위해서 역 이름에 역 추가
addr = df.loc[:, 'station'].to_frame()
addr['station'] = addr['station'].apply(lambda x: str(x) + '역')
addr.head(2)

  station
0     각계역
1     강경역

In [42]:
df.loc[:, 'station']

0        각계
1        강경
2        개포
3        경산
4        경주
       ...
191      익산
192      정읍
193      부산
194      대전
195    천안아산
Name: station, Length: 196, dtype: object

# 행정안전부 api를 통해 기차역의 주소 획득
1. 서울역 주소검색시
    - 서울역풍림아이원 플러스 주소가 얻어진다.
2. 주소가 나오지 않는 기차역 존재
    - 논산역 등

In [9]:
import requests, json
from urllib.parse import quote

In [16]:
with open('D:/song/class_appendix/key/addr_key.txt') as file:
    addr_key = file.read()

#### sample

In [13]:
quote('서울역')

'%EC%84%9C%EC%9A%B8%EC%97%AD'

In [73]:
base_url = 'https://www.juso.go.kr/addrlink/addrLinkApi.do'
params1 = f'confmKey={addr_key}&currentPage=1&countPerPage=10'
params2 = f'keyword={quote("서울역")}&resultType=json'
url = f'{base_url}?{params1}&{params2}'

In [18]:
result = requests.get(url)
result.status_code

200

In [28]:
# result.json()['results'].keys()
result.json()['results']['juso'][0]['roadAddr']

'서울특별시 용산구 만리재로 202 (서계동)'

In [69]:
import time

def find_addr(station_name):
    base_url = 'https://www.juso.go.kr/addrlink/addrLinkApi.do'
    params1 = f'confmKey={addr_key}&currentPage=1&countPerPage=10'
    params2 = f'keyword={quote(station_name)}&resultType=json'
    url = f'{base_url}?{params1}&{params2}'
    result = requests.get(url)
    try:
        if result.status_code == 200:
            res = json.loads(result.text)
            return result.json()['results']['juso'][0]['roadAddr']
        else :
            return 'none'
    except:
        return 'what'
    time.sleep(0.3)

In [70]:
# addr['addr'] = addr['station'].apply(lambda x: find_addr(x))
# addr.head(10)

  station                     addr
0     각계역      충청북도 영동군 심천면 각계길 55
1     강경역       충청남도 논산시 강경읍 대흥로 1
2     개포역    경상북도 예천군 개포면 방터길 7-11
3     경산역     경상북도 경산시 중앙로 1 (사정동)
4     경주역  경상북도 경주시 건천읍 경주역세권4로 24
5     계룡역     충청남도 계룡시 두마면 팥거리로 95
6     고한역  강원특별자치도 정선군 고한읍 고한로 166
7     곡성역                     what
8     광명역    경기도 광명시 광명역로 21 (일직동)
9     광양역     전라남도 광양시 광양읍 해광로 800

In [71]:
# addr[addr['addr'] == 'what']

    station  addr
7       곡성역  what
20      나전역  what
21     남성현역  what
24      논산역  what
39      명봉역  what
47      벌교역  what
53     북영천역  what
61      삼탄역  what
69      석불역  what
71      선평역  what
88      약목역  what
100     예당역  what
104    오근장역  what
124    임성리역  what
133     조성역  what
136     주덕역  what
151     청리역  what
154   청주공항역  what
165    한림정역  what
168     함창역  what

# 국토교통부 레일포털을 통해 geo info 획득
- https://data.kric.go.kr/rips/M_01_02/detail.do?id=183&service=convenientInfo&operation=stationInfo

- https://openapi.kric.go.kr/openapi/convenientInfo/stationInfo?serviceKey=[서비스키값]&format=xml&railOprIsttCd=KR&lnCd=1&stinCd=135&stinNm=용산

In [ ]:
base_url = https://openapi.kric.go.kr/openapi/convenientInfo/stationInfo?serviceKey=
rail_key =
service_foramt = f'&format=json&railOprIsttCd=KR&lnCd=1&stinCd=135&stinNm={용산}'