In [1]:
import pandas as pd
import numpy as np
import requests, json
from urllib.parse import quote

# geo info를 획득하기 위해 데이터 준비

- 원래 계획은 행안부 api로 주소를 획득하고, 카카오 api로 좌표를 얻고자 함
- 하지만 행안부 api 검색시 주소 검색 오류 발생
----------------------------
- 국토교통부 레일포털에 기차역 정보에 관한 api 확인
- 이를 통해서 기차역 정보 획득하고자 함

In [2]:
train = pd.read_csv('./train.csv')
df = train.copy()
df.head(2)

,station,down_on_2016,down_off_2016,down_total_2016,down_kilo_2016,up_on_2016,up_off_2016,up_total_2016,up_kilo_2016,total_2016,...,on_ktx_2022,on_saemaul_2022,on_mugungwha_2022,on_commute_2022,on_total_2022,off_ktx_2022,off_saemaul_2022,off_mugungwha_2022,off_commute_2022,off_total_2022
0,각계,0.0,0.0,0.0,0.0,475.0,6.0,481.0,640.0,481.0,...,0.0,0.0,372.0,0.0,372.0,0.0,0.0,16.0,0.0,16.0
1,강경,29781.0,114890.0,144671.0,15222925.0,114280.0,33367.0,147647.0,6863592.0,292318.0,...,0.0,13357.0,91522.0,0.0,104879.0,0.0,18820.0,86335.0,0.0,105155.0

In [3]:
# 주소를 확인하고, 좌표를 획득하기 위해서 역 이름에 역 추가
addr = df.loc[:, 'station'].to_frame()
addr['station'] = addr['station'].apply(lambda x: str(x) + '역')
addr.head(2)

  station
0     각계역
1     강경역

# 행정안전부 api를 통해 기차역의 주소 획득
1. 서울역 주소검색시
    - 서울역풍림아이원 플러스 주소가 얻어진다.
2. 주소가 나오지 않는 기차역 존재
    - 논산역 등

In [4]:
# with open('D:/song/class_appendix/key/addr_key.txt') as file:
#     addr_key = file.read()

#### sample

In [5]:
# quote('서울역')

In [6]:
# base_url = 'https://www.juso.go.kr/addrlink/addrLinkApi.do'
# params1 = f'confmKey={addr_key}&currentPage=1&countPerPage=10'
# params2 = f'keyword={quote("서울역")}&resultType=json'
# url = f'{base_url}?{params1}&{params2}'

In [7]:
# result = requests.get(url)
# result.status_code

In [8]:
# # result.json()['results'].keys()
# result.json()['results']['juso'][0]['roadAddr']

In [9]:
# import time

# def find_addr(station_name):
#     base_url = 'https://www.juso.go.kr/addrlink/addrLinkApi.do'
#     params1 = f'confmKey={addr_key}&currentPage=1&countPerPage=10'
#     params2 = f'keyword={quote(station_name)}&resultType=json'
#     url = f'{base_url}?{params1}&{params2}'
#     result = requests.get(url)
#     try:
#         if result.status_code == 200:
#             res = json.loads(result.text)
#             return result.json()['results']['juso'][0]['roadAddr']
#         else :
#             return 'none'
#     except:
#         return 'what'
#     time.sleep(0.3)

In [10]:
# addr['addr'] = addr['station'].apply(lambda x: find_addr(x))
# addr.head(10)

In [11]:
# addr[addr['addr'] == 'what']

# 국토교통부 레일포털을 통해 geo info 획득
- https://data.kric.go.kr/rips/M_01_02/detail.do?id=183&service=convenientInfo&operation=stationInfo

- https://openapi.kric.go.kr/openapi/convenientInfo/stationInfo?serviceKey=[서비스키값]&format=xml&railOprIsttCd=KR&lnCd=1&stinCd=135&stinNm=용산
- 도시철도만 나오고, 운영기간 정보를 넣어야 한다.
- 사용방법 : 역사별 정보 API 서비스 세부설명 및 역사에 대한 파라메터 코드는 자료실(https://data.kric.go.kr/rips/M_04_02/detail.do?id=10)의 역사코드정보 첨부파일을 참고하여 주시기 바랍니다.
- 어떻게 하지?

In [12]:
# with open('D:/song/class_appendix/key/train_key.txt') as file:
#      rail_key = file.read()

In [13]:
# base_url = 'https://openapi.kric.go.kr/openapi/convenientInfo/stationInfo?serviceKey='
# rail_key 
# service_format = '&format=json&railOprIsttCd=KR&lnCd=1&stinCd=135&stinNm={서울}'
# station_url2 = base_url + rail_key + service_format

In [14]:
# result = requests.get(station_url2)
# result.status_code

In [15]:
# result.json()

In [16]:
# import time

# def find_roadaddr(station_name):
#     base_url = 'https://openapi.kric.go.kr/openapi/convenientInfo/stationInfo?serviceKey='
#     rail_key 
#     service_format = f'&format=json&railOprIsttCd=KR&lnCd=1&stinCd=135&stinNm={station_name}'
#     station_url = base_url + rail_key + service_format
#     result = requests.get(station_url)
#     try:
#         if result.status_code == 200:
#             res = json.loads(result.text)
#             return result.json()['body'][0]['roadNmAdr']
#         else :
#             return 'none'
#     except:
#         return 'what'
#     time.sleep(0.3)

In [17]:
# addr['road_addr'] = addr['station'].apply(lambda x: find_roadaddr(x))
# addr.head(10)

In [18]:
# 1번째 페이지 - https://www.kric.go.kr/jsp/board/portal/sub05/est/estationList.jsp?pageNo=1
# 마지막 페이지 -https://www.kric.go.kr/jsp/board/portal/sub05/est/estationList.jsp?pageNo=22

In [19]:
# 크롤링 준비
# https://ggangtalife.tistory.com/99
# !pip install beautifulsoup4 lxml requests
import requests
from bs4 import BeautifulSoup

In [20]:
test_url = 'https://www.kric.go.kr/jsp/board/portal/sub05/est/estationList.jsp?pageNo=1'

In [21]:
resp = requests.get(test_url)
html = resp.text
soup = BeautifulSoup(html, 'html.parser')
# soup

In [22]:
soup.select('.bd_railway_station')

[<col class="bd_railway_station"/>,
 <th class="bd_railway_station" scope="col">역명</th>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280313')" title="새 창으로 열림">서울역</a></td>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280478')" title="새 창으로 열림">용산역</a></td>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280435')" title="새 창으로 열림">영등포역</a></td>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280054')" title="새 창으로 열림">광명역</a></td>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280607')" title="새 창으로 열림">청량리역</a></td>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280400')" title="새 창으로 열림">안양역</a></td>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280700')" title="새 창으로 열림">상봉역</a></td>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280355')" title="새 창으로 열림">수원역</a></td>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280450')" title="새 창으로 열림">오산역</a></td>,
 <td class="bd_railway_station left"><a href="javascript:popDetail('A030280314')" title="새 창으로 열림">서정리역</a></td>]

In [23]:
soup.select('.bd_railway_station')[2].text

'서울역'

In [24]:
soup.select('.bd_railway_add')

[<col class="bd_railway_add"/>,
 <th class="bd_railway_add" scope="col">주소</th>,
 <td class="bd_railway_add left">서울시 중구 한강대로 405</td>,
 <td class="bd_railway_add left">서울특별시 용산구 한강대로 23길 55</td>,
 <td class="bd_railway_add left">서울특별시 영등포구 경인로 846</td>,
 <td class="bd_railway_add left">경기도 광명시 광명역로 21</td>,
 <td class="bd_railway_add left">서울특별시 동대문구 왕산로 214</td>,
 <td class="bd_railway_add left">경기도 안양시 만안구 만안로 244</td>,
 <td class="bd_railway_add left">서울특별시 중랑구 망우로 297</td>,
 <td class="bd_railway_add left">경기도 수원시 팔달구 덕영대로 924 </td>,
 <td class="bd_railway_add left">경기도 오산시 오산동 역광장로 59</td>,
 <td class="bd_railway_add left">경기도 평택시 탄현로 51</td>]

In [25]:
soup.select('.bd_railway_add')[2].text

'서울시 중구 한강대로 405'

In [26]:
temp = pd.DataFrame()
station = []
road_addr = []
for i in range(2, 12):
    url = 'https://www.kric.go.kr/jsp/board/portal/sub05/est/estationList.jsp?pageNo=1'
    resp = requests.get(url)
    html = resp.text
    soup = BeautifulSoup(html, 'html.parser')
    station_name = soup.select('.bd_railway_station')[i].text
    station_roadaddr = soup.select('.bd_railway_add')[i].text
    station.append(station_name)
    road_addr.append(station_roadaddr)

temp['station'] = station
temp['road_addr'] = road_addr
temp

  station              road_addr
0     서울역        서울시 중구 한강대로 405
1     용산역  서울특별시 용산구 한강대로 23길 55
2    영등포역     서울특별시 영등포구 경인로 846
3     광명역        경기도 광명시 광명역로 21
4    청량리역     서울특별시 동대문구 왕산로 214
5     안양역    경기도 안양시 만안구 만안로 244
6     상봉역      서울특별시 중랑구 망우로 297
7     수원역  경기도 수원시 팔달구 덕영대로 924
8     오산역    경기도 오산시 오산동 역광장로 59
9    서정리역         경기도 평택시 탄현로 51

In [27]:
temp = pd.DataFrame()
station = []
road_addr = []
for i in range(1, 23):
    if i < 22 :
        for j in range(2, 12):
            url = f'https://www.kric.go.kr/jsp/board/portal/sub05/est/estationList.jsp?pageNo={i}'
            resp = requests.get(url)
            html = resp.text
            soup = BeautifulSoup(html, 'html.parser')
            station_name = soup.select('.bd_railway_station')[j].text
            station_roadaddr = soup.select('.bd_railway_add')[j].text
            station.append(station_name)
            road_addr.append(station_roadaddr)
    # 22page는 5개역만 존재
    else :
        for j in range(2, 7):
            url = f'https://www.kric.go.kr/jsp/board/portal/sub05/est/estationList.jsp?pageNo={i}'
            resp = requests.get(url)
            html = resp.text
            soup = BeautifulSoup(html, 'html.parser')
            station_name = soup.select('.bd_railway_station')[j].text
            station_roadaddr = soup.select('.bd_railway_add')[j].text
            station.append(station_name)
            road_addr.append(station_roadaddr)
        

temp['station'] = station
temp['road_addr'] = road_addr
temp

      station               road_addr
0         서울역         서울시 중구 한강대로 405
1         용산역   서울특별시 용산구 한강대로 23길 55
2        영등포역      서울특별시 영등포구 경인로 846
3         광명역         경기도 광명시 광명역로 21
4        청량리역      서울특별시 동대문구 왕산로 214
..        ...                     ...
210    김천(구미)     경상북도 김천시 남면 혁신1로 51
211       둔내역  강원도 횡성군 둔내면 자포곡리 429-1
212       센텀역     부산광역시 해운대구 해운대로 210
213      서원주역         강원도 원주시 지정로 145
214  양원(영동선)역  경상북도 봉화군 소천면 분천리 113-2

[215 rows x 2 columns]

In [30]:
addr['station'].unique()

array(['각계역', '강경역', '개포역', '경산역', '경주역', '계룡역', '고한역', '곡성역', '광명역',
       '광양역', '광주역', '광천역', '구례구역', '구미역', '구포역', '군북역', '극락강역', '기장역',
       '김제역', '김천역', '나전역', '남성현역', '남원역', '남창역', '논산역', '능주역', '다시역',
       '단양역', '대구역', '대야역', '대천역', '덕소역', '도계역', '도고온천역', '동백산역', '동해역',
       '득량역', '마산역', '매곡역', '명봉역', '몽탄역', '무안역', '묵호역', '물금역', '밀양역',
       '반성역', '백양사역', '벌교역', '별어곡역', '보성역', '봉화역', '부강역', '부전역', '북영천역',
       '북천역', '분천역', '비동역', '사북역', '사상역', '삼랑진역', '삼례역', '삼탄역', '삽교역',
       '상동역', '상주역', '서광주역', '서대전역', '서정리역', '서천역', '석불역', '석포역', '선평역',
       '성환역', '수원역', '순천역', '승부역', '신기역', '신녕역', '신동역', '신례원역', '신탄진역',
       '신태인역', '심천역', '아산역', '아우라지역', '안강역', '안동역', '안양역', '약목역', '양동역',
       '양원역', '양평역', '여수엑스포역', '여천역', '연산역', '영동역', '영등포역', '영월역', '영주역',
       '영천역', '예당역', '예미역', '예산역', '예천역', '오근장역', '오산역', '오수역', '옥산역',
       '옥천역', '온양온천역', '완사역', '왜관역', '용궁역', '용문역', '용산역', '웅천역', '원동역',
       '원주역', '음성역', '의성역', '이양역', '이원역', '일로역', '임기역', '임성리역', '임실역',
       '장성역', '전의역', '전주역', '점촌역', '정동진역', '정선역', '제천역', '조성역', '조치원역',
       '좌천역', '주덕역', '중리역', '증평역', '지탄역', '지평역', '진례역', '진상역', '진영역',
       '진주역', '창원역', '창원중앙역', '천안역', '철암역', '청도역', '청량리역', '청리역', '청소역',
       '청주역', '청주공항역', '추풍령역', '춘양역', '충주역', '탑리역', '태백역', '판교역', '평택역',
       '풍기역', '하동역', '하양역', '한림정역', '함안역', '함열역', '함창역', '함평역', '행신역',
       '현동역', '호계역', '홍성역', '화명역', '화본역', '화순역', '황간역', '횡천역', '효천역',
       '수서역', '동탄역', '울산역', '공주역', '신경주역', '오송역', '김천구미역', '광주송정역', '목포역',
       '동대구역', '나주역', '익산역', '정읍역', '부산역', '대전역', '천안아산역'], dtype=object)

In [41]:
temp['station'].unique()

array(['서울역', '용산역', '영등포역', '광명역', '청량리역', '안양역', '상봉역', '수원역', '오산역',
       '서정리역', '평택역', '성환역', '한림정역', '천안역', '전의역', '조치원역', '부강역', '신탄진역',
       '진영역', '오송역', '청주역', '천안아산역', '대전역', '오근장역', '청주공항역', '증평역', '옥천역',
       '이원역', '지탄역', '심천역', '영동역', '음성역', '황간역', '주덕역', '추풍령역', '진례역',
       '덕소역', '충주역', '김천역', '옥산역', '청리역', '상주역', '삼탄역', '구미역', '약목역',
       '왜관역', '신동역', '창원중앙역', '서대전역', '대구역', '동대구역', '경산역', '함창역', '행신역',
       '남성현역', '하양역', '청도역', '상동역', '창원역', '밀양역', '점촌역', '신경주역', '삼랑진역',
       '원동역', '물금역', '화명역', '구포역', '사상역', '부전역', '울산역', '마산역', '개포역',
       '아산역', '용궁역', '계룡역', '예천역', '중리역', '함안역', '기장역', '온양온천역', '군북역',
       '좌천역', '연산역', '논산역', '도고온천역', '신례원역', '남창역', '양평역', '덕하역', '강경역',
       '예산역', '반성역', '함열역', '태화강역', '삽교역', '용문역', '지평역', '석불역', '일신역',
       '호계역', '매곡역', '홍성역', '양동역', '삼산역', '불국사역', '진주역', '만종역', '완사역',
       '광천역', '북천역', '안강역', '청소역', '원주역', '극락강역', '횡천역', '부산역', '대천역',
       '하동역', '진상역', '광양역', '웅천역', '봉양역', '판교역', '제천역', '서천역', '장항역',
       '군산역', '단양역', '광주역', '포항역', '풍기역', '쌍용역', '영주역', '영월역', '봉화역',
       '예미역', '민둥산역', '춘양역', '사북역', '안동역', '고한역', '임기역', '현동역', '분천역',
       '태백역', '의성역', '승부역', '석포역', '탑리역', '대야역', '철암역', '화본역', '동백산역',
       '신녕역', '익산역', '김제역', '북영천역', '삼례역', '도계역', '신태인역', '영천역', '정읍역',
       '전주역', '건천역', '백양사역', '신기역', '서경주역', '임실역', '장성역', '동해역', '경주역',
       '오수역', '묵호역', '남원역', '정동진역', '곡성역', '구례구역', '순천역', '벌교역', '조성역',
       '예당역', '여천역', '득량역', '여수엑스포역', '보성역', '명봉역', '이양역', '능주역', '화순역',
       '효천역', '서광주역', '광주송정역', '나주역', '다시역', '함평역', '무안역', '몽탄역', '일로역',
       '임성리역', '목포역', '강릉역', '공주역', '신해운대역', '월포역', '평창역', '횡성역',
       '진부(오대산)역', '장사역', '영덕역', '강구역', '김천(구미)', '둔내역', '센텀역', '서원주역',
       '양원(영동선)역'], dtype=object)

In [39]:
test = pd.merge(addr, temp,
         how = 'left',
         on = 'station')
test

    station              road_addr
0       각계역                    NaN
1       강경역    충청남도 논산시 강경읍 대흥로 1
2       개포역  경상북도 예천군 개포면 방터길 7-11
3       경산역         경상북도 경산시 중앙로 1
4       경주역       경상북도 경주시 원화로 266
..      ...                    ...
191     익산역      전라북도 익산시 익산대로 153
192     정읍역    전라북도 정읍시 서부산업도로 305
193     부산역      부산광역시 동구 중앙대로 206
194     대전역       대전광역시 동구 중앙로 215
195   천안아산역  충청남도 아산시 배방읍 희망로 100

[196 rows x 2 columns]

In [40]:
test[test['road_addr'].isna() == True]

    station road_addr
0       각계역       NaN
20      나전역       NaN
48     별어곡역       NaN
56      비동역       NaN
71      선평역       NaN
84    아우라지역       NaN
90      양원역       NaN
131     정선역       NaN
180     수서역       NaN
181     동탄역       NaN
186   김천구미역       NaN