In [1]:
import pandas as pd

df = pd.read_csv('d:/song/data/사교육비조사2022.csv', encoding= 'cp949')
df.head()

,지역구분코드,행정구역시도코드,학교급구분코드,방과후학교참여여부,방과후학교참여시간수,방과후학교총비용,방과후학교_초등방과후보육프로그램비용,방과후학교_특기적성프로그램비용,방과후학교_교과프로그램비용,EBS교재비,...,학생성적구분코드,부연령코드,부_교육정도코드,모연령코드,모_교육정도코드,부모경제활동코드,월평균가구소득코드,진학희망고등학교유형코드,진학희망대학전공영역코드,가중값
0,1,11,1,1,0.333333,11.652382,0.0,11.652382,0.000000,0.0,...,NaN,3.0,61.0,3.0,71.0,3.0,8,2.0,NaN,84.684210
1,1,11,1,1,0.333333,12.484695,0.0,12.484695,0.000000,0.0,...,NaN,3.0,61.0,3.0,51.0,1.0,8,1.0,NaN,134.331488
2,1,11,1,1,0.333333,15.397790,0.0,15.397790,0.000000,0.0,...,NaN,3.0,51.0,3.0,51.0,1.0,5,1.0,NaN,153.445963
3,1,11,1,1,0.333333,19.143199,0.0,0.000000,19.143199,0.0,...,NaN,3.0,61.0,3.0,61.0,1.0,8,2.0,NaN,88.287794
4,1,11,1,1,0.333333,19.559355,0.0,19.559355,0.000000,0.0,...,NaN,3.0,61.0,2.0,51.0,3.0,8,4.0,NaN,88.287794

In [2]:
df.columns

Index(['지역구분코드', '행정구역시도코드', '학교급구분코드', '방과후학교참여여부', '방과후학교참여시간수', '방과후학교총비용',
       '방과후학교_초등방과후보육프로그램비용', '방과후학교_특기적성프로그램비용', '방과후학교_교과프로그램비용', 'EBS교재비',
       '사교육참여시간수', '일반교과사교육목적구분1코드', '일반교과사교육목적구분2코드', '일반교과사교육시간수',
       '예체능사교육목적구분1코드', '예체능사교육목적구분2코드', '예체능사교육시간수', '취업관련사교육시간수', '사교육비총비용',
       '사교육비_일반교과비용', '사교육비_일반교과_국어비용', '사교육비_일반교과_영어비용', '사교육비_일반교과_수학비용',
       '사교육비_일반교과_사회과학비용', '사교육비_일반교과_논술비용', '사교육비_일반교과_컴퓨터비용',
       '사교육비_일반교과_제2외국어한문기술가정비용', '사교육비_일반교과_개인과외비용', '사교육비_일반교과_그룹과외비용',
       '사교육비_일반교과_학원수강비용', '사교육비_일반교과_방문학습지비용', '사교육비_일반교과_유료인터넷및통신강좌비용',
       '사교육비_예체능취미교양비용', '사교육비_예체능취미교양_음악비용', '사교육비_예체능취미교양_미술비용',
       '사교육비_예체능취미교양_체육비용', '사교육비_예체능취미교양_취미교양비용', '사교육비_예체능취미교양_개인과외비용',
       '사교육비_예체능취미교양_그룹과외비용', '사교육비_예체능취미교양_학원수강비용', '사교육비_예체능취미교양_방문수업및기타비용',
       '취업관련비용', '진로진학학습상담컨설팅참여여부', '진로진학학습상담컨설팅비용', '진로진학학습상담컨설팅횟수', '학생성별코드',
       '총자녀수', '출생순위', '학생성적구분코드', '부연령코드', '부_교육정도코드', '모연령코드', '모_교육정도코드',
       '부모경제활동코드', '월평균가구소득코드', '진학희망고등학교유형코드', '진학희망대학전공영역코드', '가중값'],
      dtype='object')

In [3]:
df.groupby('지역구분코드')['사교육비총비용'].mean()

지역구분코드
1    816.893704
2    491.010337
3    457.439035
4    318.385320
Name: 사교육비총비용, dtype: float64

In [4]:
test = df.groupby('행정구역시도코드')['사교육비총비용'].mean()
test

행정구역시도코드
11    816.893704
21    504.486173
22    532.523636
23    491.284768
24    449.778071
25    475.262320
26    450.060954
29    524.741194
31    552.036316
32    359.519378
33    365.801986
34    347.094743
35    354.181840
36    313.474021
37    352.123700
38    360.440750
39    377.312759
Name: 사교육비총비용, dtype: float64

In [5]:
test[test.values > test.mean()]

행정구역시도코드
11    816.893704
21    504.486173
22    532.523636
23    491.284768
24    449.778071
25    475.262320
26    450.060954
29    524.741194
31    552.036316
Name: 사교육비총비용, dtype: float64

In [6]:
df.행정구역시도코드.unique()

array([11, 21, 22, 23, 24, 25, 26, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39],
      dtype=int64)

In [7]:
region = ['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남',
'전북', '전남', '경북', '경남', '제주']
region_code = [11, 21, 22, 23, 24, 25, 26, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39]
region_dict = dict(zip(region_code, region))
region_dict

In [14]:
df['region_code'] = df['행정구역시도코드'].apply(lambda x: region_dict[x])

df[['행정구역시도코드', 'region_code']].value_counts()

행정구역시도코드  region_code
11        서울             9234
31        경기             8645
38        경남             4774
21        부산             4503
23        인천             4425
22        대구             4195
37        경북             3992
34        충남             3931
35        전북             3909
36        전남             3570
24        광주             3464
25        대전             3320
33        충북             3114
26        울산             2899
32        강원             2705
39        제주             2402
29        세종             1960
Name: count, dtype: int64